DATABASE_URL= #Your database connection string, you can get this from your database provider
GOOGLE_CLIENT_ID= #You can get this from the Google Cloud Console
GOOGLE_CLIENT_SECRET= #You can get this from the Google Cloud Console
BETTER_AUTH_URL=http://localhost:3000 #The URL where your authentication server will be running
BETTER_AUTH_SECRET= #You can generate a random string for this, it's used to encrypt the session cookies